[2013-10-10 20:47] philips opened #1 "LICENSE?"
Nice work on skydns! Glad you found goraft to work well.

What is the license of this project? Guessing it should be MITl like skynet2?

Thanks!

Brandon

[2013-10-10 22:08] yfeldblum opened #2 "HTTP Semantic of POST/PUT/PATCH"
- Use PUT /serices/7654 for creating a new record with UUID 7654 rather than POST /services which would be for asking the server to assign a new UUID.
- Use PATCH rather than PUT for updating just the TTL or a small set of attributes; use PUT only when rewriting the whole record.

[2013-10-10 22:10] erikstmartin commented on #1
Brian and I are both the "Do whatever you want with it" types. So yeah, we'll probably go MIT like Skynet. We're open to other licensing options though if it works better for people.

I'll get a license uploaded here shortly, along with some typos I see in the README

[2013-10-10 22:25] philips commented on #1
@erikstmartin Cool, MIT sounds good. I always forget to add a LICENSE file so I thought I would let you guys know it was missing.

Cheers,

Brandon

[2013-10-11 04:56] ctran opened #3 "Build instructions"
Could you add some instructions on how to build from source?

[2013-10-11 14:59] #1 closed, assigned to nobody

[2013-10-11 15:27] #2 closed, assigned to nobody

[2013-10-11 17:09] bketelsen commented on #3
will do

[2013-10-11 17:11] bketelsen opened #4 "add TLD parameter to command line"
Add a tld parameter to command line to allow DNS delegation
SkyDNS would then ignore everything in the TLD suffix when doing lookups.

ex.
skydns -tld="skynet.mycompany.com"

Then
dig @mydnsserver production.skynet.mycompany.com SRV
would return all the production SRV records and ignore "skynet.mycompany.com" when looking in the registry.

[2013-10-11 19:11] bketelsen opened #6 "divide by zero"
https://github.com/skynetservices/skydns/blob/master/server.go#L310

[2013-10-11 19:19] #6 closed, assigned to nobody

[2013-10-11 19:46] #4 closed, assigned to nobody

[2013-10-15 17:01] erikstmartin opened #9 "Investigate raft: Command timeout"
Occasionally we get this on Join, or when submitting data to SkyDNS, we need to investigate why this is happening.

It does appear that the command succeeds when we observe this message though

[2013-10-15 19:59] bketelsen opened #11 "add go-metrics support"
make the go-metrics options configurable by command line

[2013-10-15 21:33] densone opened #12 "Errors in build"
Hey Erik,
Just tried to build from gorafts master and skydns master. Will dig in and see what's up. Just wanted to alert you of the breakage.

─$ go build                                                                                                                                                                                   2 ↵
# github.com/nervcorp/skydns

./command.go:30: server.Context u

[2013-10-15 21:45] #12 closed, assigned to nobody

[2013-10-15 21:45] densone commented on #12
Merged PR

[2013-10-16 04:18] densone opened #15 "Api Auth"
I was wondering if there's any ideas around securing the http  api and maybe generating api keys.

For instance, imagine if you implmented service level authorization to update a service.

If this became a reality, It we be really easy for people that are maybe using your service or api's to create records and not screw everyone else.

[2013-10-16 09:14] patrakov opened #16 "Name collision with a Russian web filtering service"
Please rename the project, because the "SkyDNS" name is already taken in Russia and this may cause confusion. The Russian SkyDNS is a DNS-based web filtering service, similar to OpenDNS. It opened at July 30, 2010, i.e. way before your project. See https://www.skydns.ru

[2013-10-16 14:52] #11 closed, assigned to bketelsen

[2013-10-16 14:54] bketelsen commented on #15
This is a great idea.  We'll noodle around some ideas on how to do auth for service updates.  If you have any (or want to implement this) let us know!

[2013-10-16 19:41] densone commented on #15
Awesome. I am kicking around some ideas today. Will try to keep it simple. Could maybe store the auth keys in raft logs too?

[2013-10-16 19:47] bketelsen commented on #15
that's an idea - I was thinking etcd, but you could start the skydns service with an auth key on the command line, and the clients would need the same auth key.  Either way it's a shared secret known between server and supplicants.  I want to avoid having to generate keys for each new client.  So if it's shared, it's going to have to be stored somewhere for config - and etcd/zk/doozer fit that bil

[2013-10-16 19:49] densone commented on #15
Oh sure, that's actually simple and will work for my case. I was thinking much more complex, but this works. If the shared secret flag is an empty string, there's no auth?

[2013-10-16 19:56] bketelsen commented on #15
Don't be afraid to go more complex if that's your inclination.  I'm just trying to impart our vision of Skynet being very simple to deploy and use.  As long as you can fit that model, go for it!

[2013-10-16 19:56] densone opened #18 "TLS Listener"
Since we are talking about a shred key in another thread, I thought it would be smart ti add a note for adding some encryption to the http side,

[2013-10-16 19:57] densone commented on #15
I honestly think the shared key is more effective. Saved me hours of noodling.

[2013-10-17 04:46] densone commented on #15
Implemented, just need to write some tests now.

With Shared Key in Auth Header:
╭─densone@derp  ~ ‹›
╰─$ curl -H "Authorization: test" -X PATCH -L http://localhost:8080/skydns/services/1005 -d '{"Name":"comp","Version":"1.0.0","Environment":"Production","Region":"Test","Host":"web4.c.com","Port":9000,"TTL":1000, "secret":"test"}'

Without Shared Key:

╰─$ curl  -X PATCH -L http://localhost:8080/s

[2013-10-17 06:52] googollee opened #20 "Is it reasonable to return ServerFailure when no answer?"
I try to let skydns work with normal dns server, so I configure resolve.conf like below:

[code]

but if I lookup normal domain like google.com, skydns will return no error with empty answer, which block normal dns lookup.

As skydns can't host like normal dns, is it better to return Server Failure when answer is empty? Or return Failure when request is not suffix with skydns domain?

[2013-10-17 06:59] #3 closed, assigned to nobody

[2013-10-17 12:09] erikstmartin commented on #20
I'm not sure semantically that this would be considered a Failure. SkyDNS just happens to have no knowledge of that zone.

We haven't setup SkyDNS to be a traditional DNS server that would work in your resolve.conf, The way we use it is that we have NS records setup on our normal DNS server for our anchor domain skydns.local for example. This allows us to use our normal DNS server and it propagate

[2013-10-17 13:23] miekg commented on #20
If a dns server has no knowledge of a zone, the best thing to return is SERVFAIL, or REFUSED. Usually this makes a resolver "do the right thing" and it will ask another nameserver.

Letting skydns forward the query to another nameserver and thereby making it a recursor could also be done. Should be fairly easy actually, but I'm not sure if you want go that route.

[2013-10-17 13:30] bketelsen commented on #20
I was just debating this at work with our system admin.  I'm not against having SkyDNS be a primary resolver, and just refusing records it doesn't know about (is this called forwarding?).  I think we just need to think through the implications of this.  Would it mean an extra hop on requests to non-SkyDNS lookups?  Is that a big deal for performance?  Most DNS records aren't going to have the low

[2013-10-17 13:36] miekg commented on #20
I don't think you want to make skydns a generic forwarder/recursor (it needs a cache too then), just yet. It complicated matters for no real benefit. Also the DNS has a concept of eventual consistency, is "freshness" of records is in the eye of the beholder.

I add the handler for just "skydns.local" in the server, and not "." as it is now, the SERVFAIL behavior comes for free (i.e. handled by the

[2013-10-17 13:41] bketelsen commented on #20
You mean here?
https://github.com/skynetservices/skydns/blob/master/server.go#L112

We'd have to handle either skydns.local or whatever anchor is supplied on the command line flag.

[2013-10-17 13:47] miekg commented on #20
Yes and yes (if your second sentence was a question)

[2013-10-17 13:51] bketelsen commented on #20
When I compiled in the "skydns.local" instead of "." and set my laptop to be my primary dns with 8.8.4.4 as the secondary, skydns serves SERVFAIL, but I don't get a result as if it isn't trying a secondary dns service.

714s4r1:~ bketelsen$ dig google.com

; <<>> DiG 9.8.3-P1 <<>> google.com
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: SERVFAIL, id: 17465
;; flags:

[2013-10-17 13:57] miekg commented on #20
Uhm, skydns can (and should) not be used as a recursor (i.e put in /etc/resolv.conf), what happens when you query directly? dig @<skydns> something.skydns.local, that should give reply, anything else should give SERVFAIL.

[2013-10-17 14:01] bketelsen commented on #20
searching for things in skydns.local works as expected.

[2013-10-17 20:48] densone opened #23 "Socket issue in server_test.go"
If you run go test many times in a row, you get a socket error on port 9580. Function TestDNS. Assuming we need to cleanup the socket or something after test.

[2013-10-18 17:19] bketelsen commented on #18
as long as it's optional.  I suspect most will just use firewalls for this security, but a TLS listener would be fine.

[2013-10-19 01:36] densone commented on #15
Implemented secret key auth

[2013-10-19 01:37] #15 closed, assigned to nobody

[2013-10-21 09:54] googollee commented on #20
I have set skydns through dns delegation. But how to let skydns auto discover?

I run skydns server on 10.211.55.2:53, and run dnsmasq on 10.211.55.6:53 with conf:

[code]

My /etc/resolv.conf on 10.211.55.6:

[code]

When I try to run another skydns on 10.211.55.6, it report:

[code]

And on 10.211.55.2, skydns process print out:

[code]

Where am I wrong?

[2013-12-05 00:28] crosbymichael commented on #9
@erikstmartin I receive this message also.

[2014-01-02 14:18] bketelsen opened #38 "Documentation out of date"
Need to fix up documentation to match recent development, also update version number.

[2014-01-02 14:20] miekg commented on #38
I tried to keep all documentation in sync with my changes...

However I do think the docs can be made more clearer.

[2014-01-13 16:36] miekg opened #39 "add client stub"
Clients probably will new some kind of skydns/client stub to make dns request, setup a small http server (for receiving callbacks) and maybe for other fluf.

[2014-01-14 20:51] bketelsen opened #40 "a records"
@miekg was this what you meant by a records integration?

https://github.com/crosbymichael/skydns/compare/skynetservices:master...nameserver

done by @crosbymichael already if you want to take a look

[2014-01-14 20:55] miekg commented on #40
[ Quoting notifications@github.com in "[skydns] a records (#40)..." ]

This gives back the A records of the skydns nameserver(s)? Then yes, but I also
meant giving (generating hostnames) for the machines under control by skydns.
But I already sent you a pull request for that.

Grtz Miek

PS is this merged? Then I will check out the main repo.

##

   Miek Gieben

[2014-01-14 21:19] miekg commented on #40
[ Quoting notifications@github.com in "[skydns] a records (#40)..." ]

Let's see. If you query for A/AAAA and serv.Host parses as an ip you get back
the addresses. That makes sense (and indeed I think this is missing from what I
sent you).

However, if none are found you get back an empty message? That should be some
kind of error to make resolvers happy, prolly a NODATA response.. would be good
t

[2014-01-14 21:36] crosbymichael commented on #40
@bketelsen @miekg Should I open a PR for this change that I made?  I was still testing and that is why I did not open the PR yet.

[2014-01-14 21:39] miekg commented on #40
I think this clashes with some stuff of mine, where I synthesis the hostname, from UUID.skydns.local, in this case you are giving back IP addresses based on the qname, that's different.

[2014-01-15 17:27] crosbymichael commented on #40
Do you two have any plans on returning A records like my PR so that we can set skydns as the default name server for service discovery?  The changes in my branch make it so you do not have to parse SRV records and applications can work without modifying application code when you do not need to know specific ports.

[2014-01-15 17:32] bketelsen commented on #40
I don't have a "plan" but that's what I want to happen in skydns.  Specifically to use in a docker cluster.

Sent from my iPhone

[2014-01-15 18:11] miekg commented on #40
I think srv records are far superior to a records, especially because you
have the port in there. Also srv are so old that almost anything should
support it.

What do you mean by making skydns the default name server? Because you
still need a real name server for all other lookups...?
On 15 Jan 2014 17:32, "Brian Ketelsen" notifications@github.com wrote:

[2014-01-15 18:17] crosbymichael commented on #40
@miekg How would I handle SRV records when I need to pass a url on the CLI to an app that I don't control?  Something like `--lookup-http-address=lookupd1`

Sorry if this is a dumb question, I'm not very familiar with SRV records for things like this.

And yes, if you applications needed to reach the outside world you would need a real nameserver or add multiple nameservers to your app.

[2014-01-15 18:26] miekg commented on #40
Well not very easily...

The bigger question for skydns and Brian is: how specialised skydns should
be?. I'm convinced you'll need a client stub. But I'm also not sure that is
the direction skydns is taking. How do you tell your CLI app to use 2 name
servers for instance?
On 15 Jan 2014 18:17, "Michael Crosby" notifications@github.com wrote:

[2014-01-15 18:32] crosbymichael commented on #40
@miekg Just add two nameservers in etc/resolve.conf

[code]

The `172.17.42.1` ip is where skydns is bound to and default looks happen there for the cluster then, if it receives an `Error:  Service does not exist in registry` it falls back to the `real` nameserver.  There are some performance hits because you have to do the lookup in two places.

[2014-01-15 20:04] miekg commented on #40
[ Quoting notifications@github.com in "Re: [skydns] a records (#40)..." ]

that is not how the DNS works and will thus not work. What happens is this:

you'll query 172.17.42.1, that will return 'does not exist' and there it will
stop. No resolver will query 8.8.8.8. The _only_ reason a resolver will query
8.8.8.8 is if 172.17.42.1 will return SERVFAIL for a query or does not answer at
all.

Even

[2014-01-15 20:32] crosbymichael commented on #40
Yes, skydns currently returns `SERVFAIL` when a service does not exist in the registry.

I don't know about the whole split brain situation.  Skydns is for service discovery and a real nameserver is for everything else.  I would expect them to not be the same.  You do run the risk of someone registering something like `google.com` in skydns and redirecting requests or whatever.

As far as running

[2014-01-15 21:11] miekg commented on #40
[ Quoting notifications@github.com in "Re: [skydns] a records (#40)..." ]

yes, but your local nscd cache does not know the difference... Also options
ala 'options rotate' indicate that the nameservers in resolv.conf should return
the same answer for the same query.

If you're using such a hack, you will be probably be fine, but in the long run
these kind of things tend to bite you.

Ok, and with

[2014-01-15 22:37] crosbymichael commented on #40
@miekg What happens when you don't control the client? We cannot add a stub to all applications.  Sorry if I'm not understanding what you are proposing.

[2014-01-16 02:08] bketelsen commented on #40
What if the stub wasn't in the client, but built into docker or a shim
program that watched docker?
I'm imagining something that watches the docker event list:
http://docs.docker.io/en/latest/api/docker_remote_api_v1.8/#monitor-docker-s-events
and uses metadata about docker to insert/delete records from SkyDNS

All of these questions bring to the forefront the biggest concern I have
with SkyDNS :

[2014-01-16 02:30] crosbymichael commented on #40
@bketelsen Inserting data into skydns is not an issue for me, it's easy to solve because I can control where this data is coming from.  The issue is having to modify client code to work with SRV records if it does not return A,AAAA records like a forwarding server.

That is the problem with things like zookeeper, etcd, etc for service discovery.  You have to have a client library for all the consu

[2014-01-16 02:39] crosbymichael commented on #40
I guess my usecase right now is setting up a rethinkdb cluster.  You need to to pass another node's address via the command line `--json <address>`  I cannot change rethinkdb to use SRV records here.  I'm unsure how to solve this without my changes to use skydns as a resolver.

[2014-01-16 02:41] bketelsen commented on #40
Let me ponder on this some more.  I have a similar immediate need.

On Wed, Jan 15, 2014 at 9:39 PM, Michael Crosby notifications@github.comwrote:

##

---

Brian Ketelsen
bketelsen <at> gmail <dot> com

[2014-01-16 03:09] bketelsen commented on #40
I think doing DNS forwarding would work perfectly for both your use case and mine.  If we use a local domain name, like skynet,local, it won't conflict with anything outside our local zone, and will return "real" dns records for queries for which it isn't authoritative.

the question for @miekg is: what is the minimum viable effort to make forwarding work?

[2014-01-16 03:22] erikstmartin commented on #40
@bketelsen You could still do the zone delegation, you'd just need A records returned that match what the SRV records contain. You just wouldn't have port information, you'd have to assume the service is always running on a known port.

You could theoretically have a proxy to solve the same issue, it knows how to find SRV records via SkyDNS, but runs on a known local port for your original app to

[2014-01-16 07:40] miekg commented on #40
Letting skydns work with clients you don't control, would indeed mean that skydns needs to become a forwarding server. Actual code for this is not that hard, I can whip up something in the coming days, bascially it just acts as a network pipe - there is some trickery involved if clients connect with tcp or udp and which options they set in the request.

I think this is indeed a good way forward. A

[2014-01-16 13:46] miekg commented on #40
One issue I see when using skydns as a forwarder is the dependency on the nameserver doing the actual resolution.

[2014-01-17 07:54] miekg opened #42 "server.domain"
server.domain is stored without the final dot, so there is lots of code that adds a dot to it (dns.Fqdn()) or removes dots from DNS queries. This creates a lot of garbage because of all the string handling.

[2014-01-17 07:56] miekg commented on #40
Proof of concept in https://github.com/miekg/skydns/tree/forwarder

I'll clean it up some more, make it work better with EDNS0 queries and add some RTT handling.

Note: what would be cool is that the external nameserver would also run in skydns and announce itself via the discovery mechanism in skydns, but this is a little too mind bending for me at this time.

[2014-01-17 14:38] bketelsen commented on #40
I'm running skydns as my local dns server for my laptop right now.  I need
to read through your code a little and see how to do wildcard queries, but
so far everything is working great.  once I figure out how to query the way
I need, it will solve my problems perfectly.  Especially with callbacks.
 This is going to rock in the service-discovery starved docker world.

On Fri, Jan 17, 2014 at 2:56 A

[2014-01-17 14:59] miekg commented on #40
[ Quoting notifications@github.com in "Re: [skydns] a records (#40)..." ]

What do you mean with "wildcard queries"? (Technically they don't exist -- only
wildcard responses). But anyhow the proxy is transparent, so this should not
be a problem.

Grtz Miek

PS the the pull request for some slightly cleaner code.

[2014-01-17 15:04] bketelsen commented on #40
I'm working on this now, and it is _almost_ what we were looking for.  I've
added @crosbymichael's code to serve up A records inside the getARecords
function and everything works except for serving queries for skydns.local
and master.skydns.local

I'm debugging those now.

This addition allows me to query like this:

odrade% dig "testservice3.*.skydns.local" A

; <<>> DiG 9.8.3-P1 <<>> testservice

[2014-01-17 15:10] miekg commented on #40
[ Quoting notifications@github.com in "Re: [skydns] a records (#40)..." ]

Ah, skydns.local is catched by my code. Don't know why master.skydns.local
does not work.
What should skydns.local return? You can simple change the suffix check ot
include another dot: "." + s.domain + ".".

Two things here:
1. my '*'-hack might be rejected by resolvers... Don't know this actually
2. this (still) clashes w

[2014-01-17 15:16] bketelsen commented on #40
I have it working

Replace your getARecords() func with this:

---

func (s *Server) getARecords(q dns.Question) (records []dns.RR, err error) {
var h string
name := strings.TrimSuffix(q.Name, ".")

if name == s.domain {
for _, m := range s.Members() {
h, _, err = net.SplitHostPort(m)

if err != nil {
return
}
records = append(records, &dns.A{Hdr: dns.RR_Header{Name: q.Name, Rrtype:
dns.TypeA, Cla

[2014-01-17 15:23] miekg commented on #40
@bketelsen who are you addressing with your comment(s) ?

[2014-01-17 15:28] bketelsen commented on #40
Sorry @miekg - that was for you.  If you paste in that code and test it
out, I'd appreciate it.  I am too lazy to do a pull request against your
branch.

On Fri, Jan 17, 2014 at 10:23 AM, Miek Gieben notifications@github.comwrote:

##

---

Brian Ketelsen
bketelsen <at> gmail <dot> com

[2014-01-17 16:07] #40 closed, assigned to nobody

[2014-01-17 16:26] miekg commented on #40
Ok, implemented and pushed to my forwarder branch.

[2014-01-17 18:27] crosbymichael commented on #40
@bketelsen @miekg Thanks for all the work on this.  After this weekend I should have something amazing to show....

[2014-01-17 18:34] bketelsen commented on #40
Can't wait!

On Fri, Jan 17, 2014 at 1:27 PM, Michael Crosby notifications@github.comwrote:

##

---

Brian Ketelsen
bketelsen <at> gmail <dot> com

[2014-01-18 01:12] crosbymichael opened #47 "skyctl - cli app for skydns"
If we( I will do this ) to work on a cli app for skydns would you rather the code be in this repo or a separate repository?  It would have commands like:

`skyctl add test1 {}`
`skyctl update test1 10`
`skyctl delete test1`

Any ideas or feedback?

[2014-01-18 02:38] bketelsen commented on #47
it makes sense as a subdirectory of this repo - happy to take the PR, it's something on our TODO list.

[2014-01-18 08:14] crosbymichael opened #50 "Start making binary releases on github"
Github allow you to tag release and upload binaries for those tags.  It would be nice to have OSX, linux, etc builds on the release page.  I'll also work on having this fully running in docker so it's even easier if you don't mind having a Dockerfile in the repo.

Here is a good example:

https://github.com/coreos/etcd/releases/tag/v0.2.0

[2014-01-18 08:27] miekg commented on #47
As we already include miekg/dns you can use it to perform dns queries.
On 18 Jan 2014 02:38, "Brian Ketelsen" notifications@github.com wrote:

[2014-01-18 13:30] #47 closed, assigned to nobody

[2014-01-18 22:06] miekg opened #53 "skydnsctl flags clash with skydns"
Skydnsctl uses a different system for flag parsing. This clashing the the stdlib flag parsing used in skydns itself.

[2014-01-18 22:09] miekg opened #54 "When no services are found by skydnsctl you get a weird error"
Got this error when there are no services found. This just sounds a bit strange.

[code]

[2014-01-18 22:10] crosbymichael commented on #54
PR #52 fixes this

[2014-01-19 00:19] bketelsen commented on #54
fixed

[2014-01-19 00:19] #54 closed, assigned to nobody

[2014-01-20 11:03] miekg commented on #53
Ah, you can just use -host instead of --host, except the help does not tell you.

[2014-01-20 18:01] crosbymichael commented on #53
I'll look into this

[2014-01-22 20:20] bketelsen commented on #50
I started on a cross-compile setup at home.  I'll try to get this done.

[2014-01-25 17:16] miekg commented on #39
I think this is dealt with when we started replying to A records. Also we have a client directory now. So marking as fixed.

[2014-01-25 17:16] #39 closed, assigned to nobody

[2014-01-25 17:17] miekg commented on #23
We now start at a random number when we start the tests, this minimizes this race condition. Otherwise there is nothing we can do.

[2014-01-25 17:18] miekg commented on #20
Fixed by making SkyDNS a forwarder.

[2014-01-25 18:12] #20 closed, assigned to nobody

[2014-01-25 19:40] miekg opened #62 "DNSSEC support"
This is in the TODO (because I added it). But I think SkyDNS would benefit (in the long run) from DNSSEC support. It might be too soon to implement it and there are performance penalties, but those can probably be solved with a cache.

As skydns often will hijack a .local domain, the way to implement this is to give all clients access to a public key which they can use to verify the answers from S

[2014-01-25 20:39] crosbymichael commented on #62
@miekg I can work on HTTPS if you take the DNSSEC part

[2014-01-25 20:47] miekg commented on #62
Ok. cool. Works for me.

[2014-01-25 20:57] miekg commented on #62
Just thought of something. It would be cool if a client could retrieve the DNSKEY(s) from skydns via HTTPS with the authentication secret already provided. This way we only need one secret at the client side from which they can bootstrap DNSSEC.

[2014-01-25 21:15] crosbymichael opened #63 "Improve logging support"
Right now there are many hard coded `log.X` calls throughout the code base.  With a lot of volume this can really add a lot of output to the log files.  I'm opening this so that we can discuss options.

Currently the Go log pkg is not very way or open to extension.  `log.Logger` is a struct, not an interface, and people usually consume the log pkg with the pkg func calls and not use the logger.  I

[2014-01-25 21:23] crosbymichael commented on #63
Looking through skynet I see you have a syslog logger with a nice interface.

https://github.com/skynetservices/skynet/blob/master/log/log.go

[2014-01-26 01:50] bketelsen commented on #63
The skynet logger is really nice.  we can add that if you like it.  I plan on doing a lot of cleanup in Skynet proper soon.  One of the things we can do is move that into a shared package and use here.

[2014-01-26 01:51] bketelsen commented on #62
that makes a lot of sense.  I like it.

[2014-01-26 01:56] bketelsen opened #64 "Add dockerfile"

[2014-01-26 09:26] miekg commented on #62
Are we willing to create another http path for fetching DNSKEY information? Like /security, /security/dnskey or /key or something? Something sane and extensible.

[2014-01-26 12:03] bketelsen commented on #62
yes.  routes are cheap.

[2014-01-26 12:11] miekg opened #66 "Server members are all private"
Why are all the members of the Server struct private? We now need accessor function like DNSaddr() and HTTPaddr() which just return a private member.

Why not make member for which it makes sense public? Would reduce the code a bit.

[2014-01-26 21:06] miekg commented on #62
I still need to add a cache and a http route for the dnskey(*), but this already holds a complete DNSSEC implementation: https://github.com/miekg/skydns/tree/dnssechttps://github.com/miekg/skydns/tree/dnssec

Use:

[code]

[*]: why should return for the DNSKEY in HTTP? Some sort of (non standard) JSON representation or the more standard text format which then clashes a bit with the rest of SkyDNS'

[2014-01-27 18:31] crosbymichael commented on #62
@miekg I would prefer json for consistency but you can also look at the Accept header in a request to skydns to see if the client accepts json or text.

[2014-01-28 08:11] miekg commented on #62
Ack. I think there are some IETF drafts which have an syntax for putting a DNSKEY in json, I will use that.

Btw: in my dnssec-branch: signing for all supported types works, caching of signatures works. 4 item still TODO:
- exporting the key via HTTP
- use singleinflight to only create one signature at the time for the same data
- correct NXDOMAIN responses and handling the wildcards SkyDNS suppor

[2014-01-30 19:53] miekg opened #67 "wildcard can be added even if the name is too long"
this gets a reply:
dig @localhost -p 1053 east._._.production.skydns.local SRV

so does this:
dig @localhost -p 1053 _.east._.*.production.skydns.local SRV

and this:
dig @localhost -p 1053 _._.east._._.production.skydns.local SRV

And think the last two should not be answer, but instead give back NXDOMAIN

[2014-01-30 21:34] miekg opened #68 "DNS message too large"
I have a sneaky suspicion that skydns will not set the TC bit when a DNS reply becomes to large.

This is probably also an issue when forwarding DNS requests.

[2014-01-31 05:05] crosbymichael commented on #66
One plus for getters is that it works with interfaces where fields do not.  I can think of a few examples where we may want to make Server and interface in the future and would have to revert the public fields.

[2014-01-31 10:18] miekg opened #70 "converting dots"
Right now a Name or Version with dots in it gets converted to a hyphen. From a DNS perspective this is unnecessary, but skydns splits everything on a dot, so changing this breaks skydns quite fundamentally.

But it is also non obvious that querying for 1.0.1, should be done with 1-0-1. It may be an idea to reject requests with dots in them and only allow version strings like 1-0-1 when registering

[2014-01-31 10:22] miekg commented on #66
I don't like having code or writing code for some future event. On the other hand, it is probably not worth cleaning up at this point. On the other other hand, I might see what the actual code reduction is, if is really big, I might be tempted to make this change.

[2014-02-03 08:02] miekg commented on #62
So, I'm nearing completion of this in my dnssec branch. Almost all functionality is contained in one file `dnssec.go`. The main thing now is testing: a) skydns should not crash b) is this valid from a DNS(SEC) perspective.

Example:
starting skydns:

[code]

performing a query and looking at the reply:

[code]

[2014-02-03 22:43] miekg commented on #62
Started on the testing. Now would be a good time to crash skydns with this enabled.

[2014-02-05 21:56] miekg commented on #68
Ok, forwarding a request that has the TC bit works with the latest go dns package. It was sort of a bug which I fixed there. The part where SkyDNS needs to set the TC bit itself is not fixed yet.

[2014-02-08 11:12] miekg opened #75 "Let skydns reply to NS queries"
Make NS send replies for NS queries. This would allow clients to discover all the nameservers in the SkyDNS cluster even if they only know of a subset of nameserver ip.

[2014-02-08 11:13] miekg commented on #75
The change is trivial, but I'm stuck on the names, we call the master nameserver, master.skydns.local, what would be a good name for the other nameservers? master1, master2? slave1, slave2, or something better.

[2014-02-08 11:32] bketelsen commented on #75
"master and member" are better than "master and slave".

[2014-02-08 11:33] bketelsen commented on #64
or just pull crosbymichael/skydns

[2014-02-08 11:33] #64 closed, assigned to nobody

[2014-02-08 12:45] miekg commented on #75
Ok.

OTOH, we do provide functionality by responding to A queries for master.skydns.local... Also note that we hijack these names and that they cannot be used for hosts registering SRV records. This is btw already a problem (I think).

[2014-02-14 04:07] crosbymichael commented on #62
This can be closed now

[2014-02-14 04:14] #62 closed, assigned to nobody

[2014-02-27 18:02] tylerflint opened #81 "IRC or other communication channel"
This is a fantastic project. I'd love to be able to discuss possibilities with the authors or other familiar users. Is there already an irc channel or a user group?

Pretty cool stuff.

Thanks

[2014-02-27 18:51] miekg commented on #81
[ Quoting notifications@github.com in "[skydns] IRC or other communication..." ]

There is https://groups.google.com/forum/#!forum/skynet-dev

I'm subscribed, but it is not very active. Some people might on irc, dunno.

grtz Miek

[2014-03-28 01:16] crosbymichael opened #82 "Skydns is case sensitive"
Queries with difference case fail with skydns.

ping @miekg

[2014-03-28 01:17] crosbymichael commented on #82
Any idea of a good place to make this change?

[2014-03-28 01:27] erikstmartin commented on #82
Looks like an oversight, when the key to store it is created everything is lowercased https://github.com/skynetservices/skydns/blob/master/registry/registry.go#L432

but when the search is performed it takes the casing as requested. The best i'd recommend making the change is
https://github.com/skynetservices/skydns/blob/master/registry/registry.go#L223

If strings.ToLower(domain) is called at the

[2014-03-28 02:00] erikstmartin commented on #81
There is a #skynet-dev channel on freenode as well, I haven't been on there in a while, I need to jump back in there

[2014-03-28 02:01] #16 closed, assigned to nobody

[2014-03-28 02:02] erikstmartin commented on #70
It should be converting .'s in the versions to - on Add() is that not the case anymore?

[2014-03-28 02:53] crosbymichael commented on #82
Thanks for fixing this so quickly.

[2014-03-28 02:55] erikstmartin commented on #82
No problem, as soon as I saw the email I knew exactly what it was, just had to wait to be near a computer to fix it :)

[2014-03-28 03:10] crosbymichael commented on #82
@erikstmartin it looks like the domain still needs to be checked for case.  `redis.dev.docKer` fails

[2014-03-28 03:19] erikstmartin commented on #82
Oh you're right. This logic takes place after the anchor domain has been trimmed off. I'll reopen this and i'll get a fix in for that as well.

[2014-03-28 03:57] #82 closed, assigned to nobody

[2014-03-28 03:57] erikstmartin commented on #82
Should be all set now

[2014-03-28 07:21] miekg commented on #82
Lgtm, I'll double check the dns package.
On Mar 28, 2014 3:57 AM, "Erik St. Martin" notifications@github.com wrote:

[2014-03-29 18:02] bketelsen commented on #82
@miekg feel free to merge when you're happy.

[2014-04-02 19:11] miekg commented on #70
[ Quoting notifications@github.com in "Re: [skydns] converting dots (#70)..." ]

It should... If not (anymore), that is a bug that someone (prolly me)
introduced.

/Miek

##

Miek Gieben

[2014-04-13 02:11] #38 closed, assigned to nobody

[2014-04-13 02:12] bketelsen commented on #18
maybe we should bump this one up higher in priority, just keep it optional.

[2014-04-13 02:12] bketelsen commented on #50
docker containers are better :) can we close this?

[2014-04-13 03:35] densone commented on #18
I actually just made an sni based tis listener. Let me try to find some time next week to make  a PR.

-Sean

On Saturday, April 12, 2014 at 7:12 PM, Brian Ketelsen wrote:

[2014-04-13 03:44] bketelsen commented on #18
awesome!
I'm making an etcd service manager so we don't have to depend on zookeeper.

[2014-04-15 03:08] crosbymichael commented on #50
Yep ;)

[2014-04-15 03:08] #50 closed, assigned to nobody

[2014-04-16 03:01] pyotr777 opened #87 "Build problems"
I am new to Go.
I downloaded SkyDNS source, set GOPATH.
Inside the directory with source files I run:

[code]

What I get is a number of errors:

[code]

What is the right way to build skyDNS?

[2014-04-18 10:51] martingoldstone opened #88 "Missing skydns executable"
I've just started looking at using skydns for service discovery, and the build process seems to have completed without error. The readme says to run ./skydns, but this doesn't seem to exist.  Should this have been created during the build process, or am I missing something?

[2014-04-21 14:29] ghost opened #89 "Cluster doesn't work on distributed setup with high latency between peers."
When i create a cluster with 3 nodes following the next steps:

1- up master node in network A.
2- up a second node in the same network, join it to the cluster. (at this point every thing is fine)
3- up third node in a remote network (with high latency, via VPN) and join it to the cluster.

At this point the three nodes are connected to the cluster, but looks like the two closed nodes fight to bec

[2014-04-21 17:07] crosbymichael commented on #89
@bketelsen @miekg @erikstmartin

What do you think of just making skydns an http api for inserting DNS records and the DNS resolver then having configurable backends like etcd and redis to store the service data?  I'd be interested in doing this but it would have to be a breaking change to strip out alot of the code that does not have to do with resolving and storing the data.

[2014-04-21 17:09] bketelsen commented on #89
In general I think we're all behind it.  @miekg was working on an Etcd interface, but I'm sure he's busy with his new work.  If you've got the time, go for it!  It would allow SkyDNS to do its job and get us out of the big distributed debugging game.

[2014-04-21 17:11] crosbymichael commented on #89
@bketelsen that is why I though this issue would be a good one to bring the discuss up.

Do you think skydns should act at the HTTP interface to insert services or would we use direct bindings to etcd or redis in our client code?  I am for the HTTP interface to insert, remove, and update records because it provides a consistent UI no matter the backend you are using.

[2014-04-21 17:13] bketelsen commented on #89
I think the client should update SkyDNS, and SkyDNS should have pluggable backends.  Then the client registration is fixed and the DNS operates as usual.  No client code needs to change for a different data store.

[2014-04-21 19:59] miekg commented on #89
[ Quoting notifications@github.com in "Re: [skydns] Cluster doesn't work o..." ]

Go for it!

I have a private etcd branch where I'm playing with skydns+etcd, but I haven't
got that far (swamped with work and private live stuff).

There is so much code that can be removed from skydns that I'm still torn
between:
1. strip skydns to use etcd
2. go from etcd and add a dns layer

/Miek

##

Miek Giebe

[2014-04-21 20:01] bketelsen commented on #89
well, for what it's worth the CoreOS folks would welcome a patch to etcd that added DNS as a /mod/ directory application.  We've already had the discussion.  @miekg I know you know this already.

[2014-04-21 20:07] miekg commented on #89
[ Quoting notifications@github.com in "Re: [skydns] Cluster doesn't work o..." ]

yes, of course, but it would be nice to keep existing use-cases like skydock, if
that criteria becomes less important, creating something like ectd+dns becomes
more of an option. (and then slowly port over the features from Skydns).
Having said this: helixdns could also be a starting point.

/Miek

##

Miek Gieben

[2014-04-22 02:42] crosbymichael commented on #89
@miekg I kinda feel the same way.  Skydock is not an issue, I can update it easy to insert records into a specific backend so that skydns is just a resolver doing one thing.  Also if skydns did not include a http server it would be helpful if we were to embed it into docker and make it a default for service discovery....

[2014-04-22 06:36] miekg commented on #89
[ Quoting notifications@github.com in "Re: [skydns] Cluster doesn't work o..." ]

Ok, that is good to know.

/Miek

##

Miek Gieben

[2014-04-22 10:00] ghost commented on #89
Hi again,

i tested it deeply, and i'm sure it is a issue with the network latency. Is there any easy way to fix it?

Thanks again for your early replies.

[2014-04-22 12:33] bketelsen commented on #89
I can't dig through the source now, but there's a RAFT timeout setting somewhere you could raise. Set it to double your latency at least.

[2014-04-22 19:35] miekg commented on #89
[ Quoting notifications@github.com in "Re: [skydns] Cluster doesn't work o..." ]

We're totally hijacking this thread, but anyway. If started chipping away at
SkyDNS. The current result (only after two hours of coding), is a skydns2
binary that

a) compiles
b) forwards requests to 8.8.8.8
c) does _not_ talk to etcd at all

There are 3 files in the repo, I expect to need only one more: etcd.go, aft

[2014-04-22 19:39] crosbymichael commented on #89
I don't know about etcd but redis supports wildcards on the keys.  It also supports list with a random result back so round robin works great.

I think stats like number of queries and such can stay in skydns.

[2014-04-22 19:41] miekg commented on #89
OK and OK. My current focus is etcd though. The rest will come later.
On 22 Apr 2014 20:39, "Michael Crosby" notifications@github.com wrote:

[2014-04-23 14:57] ghost commented on #89
@bketelsen   I have solved the timeout problem by the high network latency, i will open a new pull request.

thanks to all and no problem with the hijacking in the threat ;) i will test skydns2 + etcd

[2014-04-25 01:19] colmmacc opened #91 "Mix-matching TTLs is invalid ..."
I haven't tested this, but based on the README.md, skydns serves RRsets with mix-and-matched TTLs, e.g.

[code]

Unfortunately this is invalid, and some caches (bind8 and some versions of active directory I think) treat it as a format error.

RFC2181 Section 5.2 : "the use of differing TTLs in an RRSet is hereby deprecated, the TTLs of all RRs in an RRSet must be the same"

[2014-04-25 08:47] miekg commented on #91
I have no sympathy for anybody running bind8 (nor Windows actually). However clamping the TTL of the RRset to the lowest TTL of the RRset is not that hard.

[2014-04-25 14:22] miekg commented on #89
[ Quoting notifications@github.com in "Re: [skydns] Cluster doesn't work o..." ]

Ok, small update on this. I pushed a new version of SkyDNS2 that only does DNS
and only with etcd at this point. Lots of errors are not checked, but it is
working. See some examples below. If few observations before I clean it up and
proceed.
- if the DNS request is is blah.skydns.local A, the data is stored in etcd

[2014-04-25 14:49] crosbymichael commented on #89
SGTM

I help out this weekend also

Michael Crosby

[2014-04-25 15:43] miekg commented on #89
[ Quoting notifications@github.com in "Re: [skydns] Cluster doesn't work o..." ]

Cool. Plan is to get this in reasonable shape and then move it to
skynetservices.

grtz Miek

[2014-04-25 23:05] hunger commented on #63
At least being able to quieten all those "Updated Service TTL:" messages would be appreciated...

[2014-04-25 23:13] hunger commented on #63
Oh, forget what I said... those messages apparently come from the skydns image:-/ I just wish docker had better logging (preferably with journald support).

[2014-04-26 06:28] miekg commented on #63
[ Quoting notifications@github.com in "Re: [skydns] Improve logging suppor..." ]

We currently rewriting skydns to use etcd as a backend, then these messages will
automatically disappear.

/Miek

##

Miek Gieben

[2014-04-26 08:54] miekg commented on #89
Ok, etcd.Get when using recursion will only recurse one level deep. It's not hard to recursive for ourselves, but this will kill performance (unless we cache (how long?)).

[2014-04-26 16:27] miekg commented on #89
I lied, it does give back all the elements, recursively \0/

Right now, A/AAAA is working, I only need hack in SRV support and name synthesis when srv.Target is IP address.

[2014-04-26 16:35] crosbymichael commented on #89
@miekg are you marshaling the entire msg.Service type of json then inserting it into etcd?

[2014-04-26 16:38] miekg commented on #89
No, just the text version of the IP or a 4 elements of the Rdata of SRV records separated by spaces. I didn't see the need for json (but can be convinced otherwise).

I was cleaning msg.Service for the rewrite, nothing remained in it, so I discarded it.

[2014-04-26 16:39] crosbymichael commented on #89
well why encode the SRV data separated by spaces?

[2014-04-26 16:40] bketelsen commented on #89
i'm thinking we need better structure for the SRV records. or keys in a folder?

[2014-04-26 16:40] bketelsen commented on #89
but that would make srv records a special case..

[2014-04-26 16:41] crosbymichael commented on #89
Do we have an irc room to chat on? I'll start submitting PRs to help out on your fork.  I can add back the stats stuff and not try to touch the dns work that you are doing right now.

[2014-04-26 16:43] bketelsen commented on #89
#skynet-dev
irc.freenode.net

[2014-04-26 16:49] miekg commented on #89
Joined

[2014-04-26 16:59] bketelsen commented on #89
and now I can't connect :(

[2014-04-27 09:47] miekg commented on #89
[ Quoting notifications@github.com in "Re: [skydns] Cluster doesn't work o..." ]

Pushed latest code, some minor items remain (multiple SRV records, refactoring).
But in general I can claim: it is working! :-)

How are we going to test it? Download etcd and launch that during the tests??

/Miek

##

Miek Gieben

[2014-04-27 15:40] #89 closed, assigned to nobody

[2014-04-27 16:09] miekg commented on #91
I have fix for this in skydns2 (skynetservices/skydns2)

[2014-04-27 16:10] #66 closed, assigned to nobody

[2014-05-03 17:24] miekg opened #92 "mv skydns2 skydns"
I'm working on the finishing touches (DNSSEC and stats.go) in SkyDNS2 and I feel/think it is ready to be moved to the skydns repository. But it hasn't seen any real live traffic yet. It should be stable (TM).

How do we do the move? Do we _want_ to make this move? How do we tell our users?

[2014-05-03 18:41] bketelsen commented on #92
maybe fork off skydns into a "legacy" repository?
then move skydns2 here.  That's my vote.

[2014-05-31 09:56] miekg commented on #91
Closing because it is fixed in skydns2

[2014-05-31 09:56] #91 closed, assigned to nobody

[2014-05-31 09:57] miekg commented on #87
Mass closing comments in preparation of moving skydns2 to skydns

[2014-05-31 09:57] #87 closed, assigned to nobody

[2014-05-31 09:58] miekg commented on #88
Mass closing comments in preparation of moving skydns2 to skydns

[2014-05-31 09:58] #88 closed, assigned to nobody

[2014-05-31 09:58] miekg commented on #81
Mass closing comments in preparation of moving skydns2 to skydns

[2014-05-31 09:58] #81 closed, assigned to nobody

[2014-05-31 09:58] #75 closed, assigned to nobody

[2014-05-31 09:59] miekg commented on #70
dropped in skydns2.

[2014-05-31 09:59] #70 closed, assigned to nobody

[2014-05-31 09:59] miekg commented on #68
Probably still valid in SkyDNS2

[2014-05-31 09:59] #67 closed, assigned to nobody

[2014-05-31 10:00] miekg commented on #63
Also skydns2 uses the code from etcd to do the logging.

[2014-05-31 10:00] #63 closed, assigned to nobody

[2014-05-31 10:00] miekg commented on #53
Use etcdctl in skydsn2

[2014-05-31 10:00] #53 closed, assigned to nobody

[2014-05-31 10:01] miekg commented on #42
Fixed in skydns2

[2014-05-31 10:01] #42 closed, assigned to nobody

[2014-05-31 10:01] miekg commented on #23
Mass closing comments in preparation of moving skydns2 to skydns

[2014-05-31 10:01] #23 closed, assigned to nobody

[2014-05-31 10:01] miekg commented on #18
Mass closing comments in preparation of moving skydns2 to skydns

[2014-05-31 10:01] #18 closed, assigned to nobody

[2014-05-31 10:02] miekg commented on #9
Skydns2 indirectly used Raft. Closing.

[2014-05-31 10:02] #9 closed, assigned to nobody

[2014-05-31 10:02] miekg commented on #92
Current skydns will live on in skydns1
New Skydsn2 will live on in skydns.

Closing as I'm about to make this move.

[2014-05-31 10:02] #92 closed, assigned to nobody

[2014-10-06 15:54] millisami opened #95 "Can skydns do the load-balancing too?"
Hi, I was wondering whether SkyDns will also do the load-balancing like HA-Proxy?

Or do I still need to add HA-proxy layer?

[2014-10-08 01:24] dminkovsky opened #96 "Typo in link"
The link in the README that points to SkyDNS2:

"This is an heads up that this version of SkyDNS is going to be replaced by SkyDNS2 which is backed by etcd."

points back to this repo. I think you intended it to point to skynetservices/skydns?

[2014-10-08 06:44] miekg commented on #96
Ah, yes, haven't updated it when I made the switch. Feel free to change.

[2014-10-08 13:23] dminkovsky commented on #96
Cool, thank you.

[2014-10-08 13:23] #96 closed, assigned to nobody

[2014-12-16 04:06] pirog opened #98 "compression questionszzzz"
oh EHLO there,

so we are using `skydns1` (hopefully skydns2 soon) and `skydock` as part of the `kalabox` project over here at https://github.com/kalabox/kalabox. along with `dnsmasq` and `hipache` they constitute the "core containers" the kalabox has running at all times. to cut to the chase we are trying to minimize the time that it takes to initially pull/build/run these services. rebasing ever

[2014-12-16 07:20] miekg commented on #98
[ Quoting notifications@github.com in "[skydns1] compression questionszzzz..." ]

I dont know what accounts to the size difference, but I'm happy to base it of
something else that might be smaller.

/Miek

##

Miek Gieben

[2014-12-16 21:14] pirog commented on #98
The golang container seems to be the heaviest part but obviously its
mission critical.

Might try to compile the binary this way and then send out to a smaller
container. I _think_ this is probably something like what mc did.

Will let you know results

On Monday, December 15, 2014, Miek Gieben notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-12-17 03:04] pirog commented on #98
doing a little docker inception a la
http://blog.xebia.com/2014/07/04/create-the-smallest-possible-docker-container/

ending up with a skydns image around 10MB!

[2014-12-17 03:04] #98 closed, assigned to nobody

[2014-12-20 13:53] AlekseyMartynov opened #101 "How to disable logging?"
I have tried skydock (https://github.com/crosbymichael/skydock), and noticed the constatnly growing log file in the data directory with entries like this:

[code]

I'd like to turn this log off, but `skydns --help` does not suggest any logging-related option.

[2015-01-08 09:37] miekg commented on #101
Should be easy to add a flag to do this.

[2015-09-24 18:25] thockin commented on #20
I'm curious why the decision was to make it a forwarder rather than return SERVFAIL - was there more discussion?

[2015-09-24 18:30] bketelsen commented on #20
This is long dead code - I don't think anybody uses skydns1 anymore - it's our old Raft backed implementation.

[2016-04-05 17:01] loveshell opened #103 "are you plan skydns become smartdns?"
for example
https://github.com/xiaomi-sa/smartdns

ip database:https://www.ipip.net/index.html#down

[2016-05-24 10:57] halacs commented on #95
I think the answer is no and you should use HA-proxy if the DNS built-in round robin load balancer functionality isn't enough for you.

[2016-05-24 10:59] halacs commented on #103
Do you have English smartdns documentation? It would be useful. Thanks.